<div class="card">
  <div class="card-body d-flex">
    <div class="card-title mr-auto ml-4"> Indeks pracownika: {{instrumentReservation.employeeId}} </div>
    <div class="card-title mr-auto ml-4"> Imię pracownika: {{instrumentReservation.employeeName}} </div>
    <div class="card-title mr-auto ml-4"> Nazwisko pracownika: {{instrumentReservation.employeeSurname}} </div>
    <div class="card-title mr-auto ml-4"> Od: {{getDate(instrumentReservation.startTimestamp)}}  {{getTime(instrumentReservation.startTimestamp)}}</div>
    <div class="card-title mr-auto ml-4"> Do: {{getDate(instrumentReservation.endTimestamp)}}  {{getTime(instrumentReservation.endTimestamp)}}</div>
    <div class="btn btn-primary mr-4" (click)="onDeleteClick()"> Usuń</div>
  </div>
</div>
