<h5 class="card-title mr-auto ml-4 mt-4" *ngIf="employee">{{employee.name}} {{employee.surname}}</h5>

<h5 class="card-title mr-auto ml-4 mt-4" *ngIf="employee">{{employee.prefix}} {{employee.wardName}}</h5>

<div class="btn btn-primary mr-4 ml-auto mt-4" (click)="onInstrumentOptionClick()"> Wypożycz sprzęt</div>
<div class="btn btn-primary mr-4 ml-auto mt-4" (click)="onRoomOptionClick()"> Zarezerwuj salę</div>
<div class="btn btn-primary mr-4 mt-4" (click)="onBackClick()"> Wróć</div>

<div *ngIf="isInstrumentReservationOpen">
  <div *ngFor="let instrument of instrumentsList">
    <div class="card">
      <div class="card-body d-flex">
        <h5 class="card-title mr-auto ml-4">{{instrument.type}}    Serial number: {{instrument.serialNumber}}</h5>
        <div class="btn btn-primary mr-4" (click)="onRentInstrumentClick(instrument.id)"> Wypożycz</div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="isRoomReservationOpen">
  <div *ngFor="let room of roomsList">
    <div class="card">
      <div class="card-body d-flex">
        <h5 class="card-title mr-auto ml-4">{{room.type}}    Numer sali: {{room.number}}</h5>
        <div class="btn btn-primary mr-4" (click)="onRentRoomClick(room.id)"> Zarezerwuj</div>
      </div>
    </div>
  </div>
</div>
