<h5 class="card-title mr-auto ml-4"> Rezerwacje dla sali numer {{room.number}} </h5>

<div *ngFor="let roomReservation of roomReservationsList">
<div class="card">
  <div class="card-body d-flex">
    <h5 class="card-title mr-auto ml-4"> Numer pokoju: {{roomReservation.roomNumber}} </h5>
    <h5 class="card-title mr-auto ml-4"> Indeks pracownika: {{roomReservation.employeeId}} </h5>
    <h5 class="card-title mr-auto ml-4"> Czas rozpoczęcia
      rezerwacji: {{getDate(roomReservation.startTimestamp)}}  {{getTime(roomReservation.startTimestamp)}}</h5>
    <h5 class="card-title mr-auto ml-4"> Czas zakończenia
      rezerwacji: {{getDate(roomReservation.endTimestamp)}}  {{getTime(roomReservation.endTimestamp)}}</h5>
    <div class="btn btn-primary mr-4 mt-4" (click)="onDeleteClick()"> Usuń</div>
  </div>
</div>
</div>


<div class="btn btn-primary mr-4 mt-4" (click)="onBackClick()"> Wróć</div>
