<h5 class="card-title mr-auto ml-4" *ngIf="roomReservationsList.length>0"> Rezerwacje dla sali numer {{room.number}}: </h5>
<h5 class="card-title mr-auto ml-4" *ngIf="roomReservationsList.length==0"> Brak rezerwacji dla sali numer {{room.number}}. </h5>
<div *ngFor="let roomReservation of roomReservationsList">

  <app-room-reservation-item [roomReservation]="roomReservation" (deleteEvent)="onDeleteEvent($event)"></app-room-reservation-item>

</div>


<div class="btn btn-primary mr-4 mt-5" (click)="onBackClick()"> Wróć</div>
