<ngb-alert *ngIf="alertMessage" class="mt-3 mb-3" type="success" (close)="alertMessage = null">{{alertMessage}}</ngb-alert>
<div class="d-flex">
  <div class="card mx-auto" style="width: 95%;">
    <div class="card-header d-flex">
      <h4>Dostępne urządzenia</h4>
      <div class="btn btn-primary mr-4 ml-auto" (click)="onAddInstrumentClick(modal)"> Dodaj urządzenie</div>
    </div>
    <div *ngFor="let instrument of instrumentsList">
      <app-instrument-item [instrument]="instrument" (deleteEvent)="onDeleteEvent($event)" (detailsEvent)="onDetailsEvent($event)"></app-instrument-item>
    </div>
  </div>
</div>
<ng-template #modal let-modal>
  <ngb-alert *ngIf="alertMessageS" class="mt-3 mb-3" type="success" (close)="alertMessageS = null">{{alertMessageS}}</ngb-alert>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj urządzenie</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
          <!-- Dodać datepickery-->
        <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Numer seryjny</span>
        </div>
        <input type="text" [(ngModel)]="instrumentToAdd.serialNumber" name="serialNumber">
      </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Typ urządzenia</span>
          </div>
          <input type="text" [(ngModel)]="instrumentToAdd.type" name="type">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn btn-secondary ml-auto" (click)="modal.close()">Zamknij</div>
    <div class="btn btn-primary " (click)="saveReport(modal)">Zapisz</div>
  </div>
</ng-template>
