<div class="d-flex">
  <div class="card mx-auto" style="width: 95%;">
    <div class="card-header d-flex">
      <h4 class="mt-2">Pracownicy</h4>
      <div class="btn btn-primary mr-4 ml-auto" *ngIf="wardsList" (click)="onAddEmployeeClick(modal)"> Dodaj pracownika</div>
    </div>
    <div *ngFor="let employee of employeesList">
      <app-employee-item [employee]="employee" (deleteEvent)="onDeleteEvent($event)" (detailsEvent)="onDetailsEvent($event)"></app-employee-item>
    </div>
  </div>
</div>


<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Dodaj pracownika</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Imię</span>
          </div>
          <input type="text" [(ngModel)]="employeeToAdd.name" name="name">
        </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Nazwisko</span>
          </div>
          <input type="text" [(ngModel)]="employeeToAdd.surname" name="surname">
        </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Tytuł</span>
          </div>
          <input type="text" [(ngModel)]="employeeToAdd.prefix" name="prefix">
        </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Typ pracownika</span>
          </div>
        </div>
        <ng-select class="mt-3" size="8" [items]="employeeTypeOptions"
                 name="type"
                 [(ngModel)]="employeeToAdd.type">
        </ng-select>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <span class="input-group-text">Oddział</span>
          </div>
        </div>
        <ng-select class="mt-3" [items]="wardsList"
                   name="ward"
                   bindLabel="name"
                   bindValue="id"
                   [(ngModel)]="employeeToAdd.wardId">
        </ng-select>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <div class="btn btn-secondary ml-auto" (click)="modal.close()">Zamknij</div>
    <div class="btn btn-primary " (click)="saveReport(modal)">Zapisz</div>
  </div>
</ng-template>


