<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Dodaj rezerwację urządzenia</h4>
</div>

<div class="modal-body" *ngIf="instrumentReservation">
  <form>
    <div class="form-group">
      <div class="mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Wybierz datę początkową:</span>
        </div>
      </div>
      <div class="mt-3">
        <dl-date-time-picker
          name="Reservation start"
          startView="day"
          maxView="year"
          minView="minute"
          minuteStep="15"
          [(ngModel)]="instrumentReservation.startTimestamp">
        </dl-date-time-picker>
      </div>
      <div class="mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Wybierz datę końcową:</span>
        </div>
      </div>
      <div class="mt-3">
        <dl-date-time-picker
          name="Reservation end"
          startView="day"
          maxView="year"
          minView="minute"
          minuteStep="15"
          [(ngModel)]="instrumentReservation.endTimestamp">
        </dl-date-time-picker>
      </div>
    </div>
  </form>
</div>

<div class="card-title ml-4">Od:
  <div class="card-title mr-auto ml-4" *ngIf="instrumentReservation.startTimestamp">
    {{getDate(instrumentReservation.startTimestamp)}} {{getTime(instrumentReservation.startTimestamp)}}
  </div>
</div>
<div class="card-title ml-4">Do:
  <div class="card-title mr-auto ml-4" *ngIf="instrumentReservation.endTimestamp">
    {{getDate(instrumentReservation.endTimestamp)}} {{getTime(instrumentReservation.endTimestamp)}}
  </div>
</div>

<div class="modal-footer">
  <div class="btn btn-secondary ml-auto" (click)="activeModal.close()">Anuluj</div>
  <div class="btn btn-secondary ml-auto" (click)="onSave()">Zapisz</div>
</div>
